.fakeimg {
    height: 200px;
    background: #aaa;
 }
  
html{
	font-family-sans-serif:Roboto;
	font-size:medium;
	font-weight:light;
}

h::first-letter {
 	text-transform: uppercase;
 	font-weight:normal;
}

button::first-letter {
 	text-transform: uppercase;
 	font-weight:normal;
}
  
button{
	background-color: #379EC1;
}
    /* CSS comes here */
#video {
    border: 1px solid black;
    width: 100%;
    height: auto;
    background: black;
}


#canvas {
    display: none;
}

.camera {
    width: 80%;
    height: 80%;
    margin: 5%;
    display: inline-block;
}

.output {
   	width:90%;
    display: inline;
}

.photoButton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-up: 1%;
    bottom: 1%;
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-size: medium;
    color: black;
    cursor: pointer;
}

.contentarea {
    font-size: medium;
    text-align: center;
}
  
#IdentifierBouton {
  	border-radius: 4px;
  	padding: 10% 30%;
  	margin:10%;
  	background-color: #379EC1;
	color: black;

}
    
ul {
 	column-count: 2;
  	column-gap: 2rem;
  	list-style: none;
}